# Ejercicios para practicar LECTURA Y ESCRITURA DE FICHEROS
Descarga el archivo que se adjunta con la tarea (Musical_Instruments_5.json). Este archivo contiene opiniones de usuarios de Amazon sobre productos, en concreto instrumentos musicales.

**1.**-  Debes escribir un programa que consiga los siguientes objetivos:

1. Importa le archivo de la actividad y convierte sus datos en un dataframe de pandas.
2. Quédate solo con las columnas "asin" (el código de producto) y "overall" (la nota que le dan en la opinión).
3. Crea un nuevo dataframe que muestre cada uno de los productos (su asin) con la puntuación media que ha obtenido en las opiniones y el número de opiniones que tiene.
4. Añade una columna al dataframe que muestre la moda.
5. Haz una función que haga lo que consideres oportuno para elegir un producto que comprar y devuelva el asin de la recomendación elegida. La función recibirá como parámetro el dataframe ya modificado y devolverá el asin del producto recomendado.

In [ ]:
import pandas as pd

# 1. Importando el json, teniendo en cuenta el parámetro 
df_instrumentos = pd.read_json("Musical_Instruments_5.json", lines=True)
df_instrumentos.head()

# 2. Haciendo el dataframe filtrando columnas
df_filtrado = df_instrumentos[["asin", "overall"]]
df_filtrado

             asin  overall
0      1384719342        5
1      1384719342        5
2      1384719342        5
3      1384719342        5
4      1384719342        5
...           ...      ...
10256  B00JBIVXGC        5
10257  B00JBIVXGC        5
10258  B00JBIVXGC        4
10259  B00JBIVXGC        4
10260  B00JBIVXGC        4

[10261 rows x 2 columns]

In [ ]:
# 3 asin, media_overall, num_opiniones
import numpy as np
import statistics as stat

# Creacion de listas, para poder cargar la información
num_asin = []
medias = []
num_opiniones = []
moda = []

# Bucle para cargar informacion en la listas previamente creadas, para posteriormente crear el dataframe

for index, row in df_filtrado.iterrows():
    # comprobar si asin esta en num_asin, si no esta lo meto y si esta no lo meto
    if row["asin"] not in num_asin:
        num_asin.append(row["asin"])
        
        # filtrar el df, para coger todos los overalls de ese asin
        df_asin = df_filtrado.loc[df_filtrado["asin"] == row["asin"], "overall"]
        
        # meter la media de esos overalls en medias
        medias.append(df_asin.mean())
        
        # meto la longitud de la lista de overalls en num_opiniones
        num_opiniones.append(len(df_asin))

        # 4. meter nueva columna de moda del overall
        moda.append(stat.mode(df_asin))
  

df_mod = pd.DataFrame({"asin" : num_asin, "overall" : medias, 'num_opiniones' : num_opiniones, "moda" : moda})
df_mod

           asin   overall  num_opiniones  moda
0    1384719342  5.000000              5     5
1    B00004Y2UT  4.666667              6     5
2    B00005ML71  3.800000              5     5
3    B000068NSX  4.571429              7     5
4    B000068NTU  4.800000              5     5
..          ...       ...            ...   ...
895  B00H02C9TG  4.833333              6     5
896  B00HFRXACG  4.818182             11     5
897  B00IZCSW3M  4.791667             24     5
898  B00J4TBMVO  4.500000              8     5
899  B00JBIVXGC  4.538462             13     5

[900 rows x 4 columns]

In [ ]:
import random

# Funcion que sirve para recomendar el top 10 productos mediante un random (coge de forma aleatoria uno de los 10 primeros productos)
def recomendacion (df):
    recomienda = df.sort_values(["overall", "num_opiniones"], ascending=[False, False])
    print (recomienda)
    elegido = recomienda.head(10).iloc[random.randint(0,10)]
    return elegido

recomendacion(df_mod)

           asin   overall  num_opiniones  moda
594  B001W99HE8  5.000000             20     5
424  B000RKL8R2  5.000000             12     5
604  B0027842S4  5.000000             10     5
649  B0033P1O6S  5.000000             10     5
438  B000RY68PA  5.000000              9     5
..          ...       ...            ...   ...
534  B001E43SK0  3.000000              5     2
545  B001GD07SK  2.875000              8     4
267  B0007L8BQW  2.857143              7     4
723  B00466HM28  2.857143              7     1
600  B0025V1REU  2.714286              7     3

[900 rows x 4 columns]

TypeError: 'DataFrame' object is not callable